<!DOCTYPE html>
<html lang="ja">
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="row">
      <div id="header">
        <%= render 'shared/admin/header' %>
      </div>
      <div id="content">
        <%= render 'shared/flash' %>
        <%= yield %>
      </div>
      <div id="footer">
        <%= render 'shared/admin/footer' %>
      </div>
    </div>
  </div>
</body>
</html>
